<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Wahl{% endblock %}</title>

    {% load bootstrap3 %}
    {% bootstrap_css %}

    {% block javascript %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}


</head>


<body>
<div class="container container-table panel panel-default">
    <div class="text-center">
        <h2><b>Stimmzettel</b></h2>
        für die Wahl zum Deutschen Bundestag im Wahlkreis {{ wk_id }} {{ wk_name }} <br \>
        am {{ e_date|date:"d. M Y" }}
        <h1><b>Sie haben 2 Stimmen</b></h1>
    </div>
    <form action="vote/" method="post">

        <div class="table-responsive col-md-6">

            <div style="text-align: right">

                <h3><b>hier 1 Stimme</b></h3> <br \>
                für die Wahl <br \>
                <h4><b>eines/einer Wahlkreis- <br \> abgeordneten</b></h4>
                <br \>

                <h3><b>Erststimme</b></h3>
            </div>

            <div class="table-responsive">
                <table id="fv" class="table table-hover table-condensed table-bordered">
                    <tbody>

                    {% for choice in form.erststimme %}
                        <tr>
                            {{ choice.choice_label | safe }}
                            <td>{{ choice.tag }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td><b> UNGÜLTIG WÄHLEN</b></td>
                        <td></td>
                        <td>{{ form.erststimme_invalid }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="table-responsive col-md-6 text-primary">
            <div style="text-align: left">
                <h3><b>hier 1 Stimme</b></h3> <br \>
                für die Wahl <br \>
                <h4><b>einer Landesliste (Partei)</b></h4>
                - maßgebende Stimme für die Verteilung der <br \>
                Sitze insgesamt auf die einzelnen Parteien -
                <br \>

                <h3><b>Zweitstimme</b></h3>
            </div>

            <div class="table-responsive">
                <table id="sv" class="table table-hover table-condensed table-bordered">
                    <tbody>

                    {% for choice in form.zweitstimme %}
                        <tr>
                            <td>{{ choice.tag }}</td>
                            <td><b>{{ choice.choice_label }}</b></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>{{ form.zweitstimme_invalid }}</td>
                        <td><b>UNGÜLTIG WÄHLEN</b></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div>
            {% csrf_token %}
            {{ form.token }}
            <button type="submit" class="btn btn-lg btn-primary btn-block">STIMME ABGEBEN</button>
        </div>
    </form>

</div>


<script>

    $('.table > tbody > tr').click(function () {
        $(this).find('input:radio').prop('checked', true);

        $(this).find('input:checkbox').each(function () {
                    $(this).addClass('danger');
                    if ($(this).is(':checked')) {
                        $(this).prop('checked', false);
                        $(this).parent().parent().removeClass('danger');
                    } else {
                        $(this).prop('checked', true);
                        $(this).parent().parent().addClass('danger'); // the table row..
                        $(this).parent().parent().parent().find('input:radio').prop('checked', false); // the table body...
                    }
                }
        );

    });


</script>

</body>


</html>