{% extends "base.html" %}



{% block breadcrumbs %} {{ block.super }} » <a href="/wahlanalyse/{{ election }}/ks/">Knappste Ausgänge</a> »
    {{ party_id }} {% endblock breadcrumbs %}
{% block content %}

    <div class="page-header">
        <h1>Knappste Ausgänge: {{ closest.p_name }}</h1>
    </div>
    {% if closest.people %}
        <div id="persons" class="table-responsive col-md-10">
            <table id="cw" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Wahlkreis</th>
                    <th>Differenz</th>
                </tr>
                </thead>
                <tbody>
                {% for person in closest.people %}
                    <tr>
                        <td>{{ person.firstname }}</td>
                        <td>{{ person.lastname }}</td>
                        <td><a href="/wahlanalyse/{{ election }}/wk/{{ person.wk_id }}/"> {{ person.wk_name }} </a></td>
                        <td>{{ person.difference }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Keine knappsten Sieger vorhanden!</p>

    {% endif %}


    <script>
        $(document).ready(function () {
                    $("#cw").tablesorter();
                }
        );
    </script>

{% endblock content %}






