{% load base_extras %}


<!-- Sidebar -->
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Wahlanalyse</a>
        </div>
        <div>
            <ul class="nav navbar-nav nav-tabs">
                <li><a href="/wahlanalyse/{{ election }}">Übersicht</a></li>
                <li><a href="/wahlanalyse/{{ election }}/abgeordnete/">Abgeordnete</a></li>
                <li><a href="/wahlanalyse/{{ election }}/wk/">Wahlkreise</a></li>
                <li><a href="/wahlanalyse/{{ election }}/ks/">Knappste Ausgänge</a></li>
                <li><a href="/wahlanalyse/{{ election }}/ueh">Überhangmandate</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Karten</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/wahlanalyse/{{ election }}/wkmap/erststimmen">Gewinner Erststimmen</a></li>
                        <li><a href="/wahlanalyse/{{ election }}/wkmap/zweitstimmen">Gewinner Zweitstimmen</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li {% if election == "2" %}class = "active"{% endif %}><a href="/wahlanalyse/2/">2013</a></li>
                <li {% if election == "1" %}class = "active" {% endif %}><a href="/wahlanalyse/1/">2009</a></li>
            </ul>
        </div>
    </div>

</nav>
