{% load base_extras %}


<style>
    .dropdown-menu > li {
        position: relative;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        display: none;
        margin-top: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-color: #fff;
        box-shadow: none;
    }

    .right-caret:after, .left-caret:after {
        content: "";
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        display: inline-block;
        height: 0;
        vertical-align: middle;
        width: 0;
        margin-left: 5px;
    }

    .right-caret:after {
        border-left: 5px solid #ffaf46;
    }

    .left-caret:after {
        border-right: 5px solid #ffaf46;
    }
</style>

<script>
    $(function () {
        $(".dropdown-menu > li > a.trigger").on("click", function (e) {
            var current = $(this).next();
            var grandparent = $(this).parent().parent();
            if ($(this).hasClass('left-caret') || $(this).hasClass('right-caret'))
                $(this).toggleClass('right-caret left-caret');
            grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
            grandparent.find(".sub-menu:visible").not(current).hide();
            current.toggle();
            e.stopPropagation();
        });
        $(".dropdown-menu > li > a:not(.trigger)").on("click", function () {
            var root = $(this).closest('.dropdown');
            root.find('.left-caret').toggleClass('right-caret left-caret');
            root.find('.sub-menu:visible').hide();
        });
    });
</script>

<!-- Sidebar -->
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Wahlanalyse</a>
        </div>
        <div>
            <ul class="nav navbar-nav nav-tabs">
                <li><a href="/wahlanalyse/{{ election }}">Übersicht</a></li>
                <li><a href="/wahlanalyse/{{ election }}/abgeordnete/">Abgeordnete</a></li>
                <li><a href="/wahlanalyse/{{ election }}/wk/">Wahlkreise</a></li>
                <li><a href="/wahlanalyse/{{ election }}/ks/">Knappste Ausgänge</a></li>
                <li><a href="/wahlanalyse/{{ election }}/ueh">Überhangmandate</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Karten</a>
                    <ul class="dropdown-menu" role="menu">

                        <li>
                            <a class="trigger right-caret">Erststimmen</a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/erststimmen">Wahlkreissieger</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/erststimmen/12/">CDU</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/erststimmen/9/">CSU</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/erststimmen/2/">SPD</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/erststimmen/3/">DIE LINKE</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/erststimmen/5/">GRÜNE</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/erststimmen/4/">FDP</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="trigger right-caret">Zweitstimmen</a>
                            <ul class="dropdown-menu sub-menu">
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/zweitstimmen">Wahlkreissieger</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/zweitstimmen/12/">CDU</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/zweitstimmen/9/">CSU</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/zweitstimmen/2/">SPD</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/zweitstimmen/3/">DIE LINKE</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/zweitstimmen/5/">GRÜNE</a></li>
                                <li><a href="/wahlanalyse/{{ election }}/wkmap/zweitstimmen/4/">FDP</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li {% if election == "2" %}class = "active"{% endif %}><a href="/wahlanalyse/2/">2013</a></li>
                <li {% if election == "1" %}class = "active" {% endif %}><a href="/wahlanalyse/1/">2009</a></li>
            </ul>
        </div>
    </div>

</nav>
