{% extends "base.html" %}

{% block breadcrumbs %}
    {{ block.super }} {{ wk_id }}
{% endblock breadcrumbs %}

{% block content %}
    <div style="width: 50%; margin: 0px auto">
        <div class="panel panel-default">
            <div id="chart_overview" class="panel-body">
            </div>

            {% if parties %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Partei</th>
                            <th>Sitze</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for party in parties %}
                            <tr>
                                <td>{{ party.name }}</td>
                                <td>{{ party.y }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Keine Parteien vorhanden!</p>

            {% endif %}

        </div>

        <div class="panel panel-default">
            <div id="chart_percentages" class="panel-body">
            </div>
        </div>
    </div>


    <script type="text/javascript">


        specification = {
            chart: {

                renderTo: 'chart_panel',
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Bundestag 2013',
                align: 'center',
                verticalAlign: 'middle',
                y: 60
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%'],
                    allowPointSelect: true
                }
            }
        };

        $.getJSON('{% url 'chart_as_json' %}', function (data) {
            specification['series'] = data;

            $('#chart_overview').highcharts(specification)

        });

    </script>


    <script type="text/javascript">

        $(function () {
            $('#chart_percentages').highcharts({
                chart: {
                    type: "column"
                },
                yAxis: {
                    labels: {
                        format: "{value}%"
                    },
                },
                colors: [
                    "black",
                    "yellow",
                    "green",
                    "red",
                    "#BFBFBF",
                    "#F1E7BF",
                    "#C9DDC0",
                    "#ECBFC4"
                ],
                subtitle: {
                    text: "Stimmanteile in Prozent"
                },
                xAxis: {
                    type: "category"
                },

                legend: {
                    enabled: false
                },
                title: {
                    text: "Wahlergebnisse"
                },
                series: {{ series|safe }}

            })
        });

    </script>
{% endblock content %}