{% extends "base.html" %}


{% block breadcrumbs %} {{ block.super }} » <a href="/wahlanalyse/wk">Wahlkreise</a> » {{ wk_id }}{% endblock %}

{% block content %}


    <div id="Kurzübersicht" class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Kurzübersicht</h3>
        </div>

        <div class="panel-body">
            <strong>Name:</strong> {{ wk_name }} <br \>
            <strong>Wahlbeteiligung:</strong> {{ wahlbeteiligung }}% <br \>
            <strong>Abgeordneter:</strong> {{ winner_fn }} {{ winner_ln }} <br \>
        </div>


    </div>

    <div class="table-responsive col-md-6 panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title">Auswertung Erststimmen</h3>
        </div>
        {% if candidates %}
            <table id="e_stimmen" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Partei</th>
                    <th>Stimmen</th>
                    <th>Stimmanteil</th>
                </tr>
                </thead>
                <tbody>
                {% for candidate in candidates %}
                    <tr>
                        <td>{{ candidate.c_name }}</td>
                        {% if candidate.c_pname == None %}
                            <td>-</td>
                        {% else %}
                            <td>{{ candidate.c_pname }}</td>
                        {% endif %}
                        <td>{{ candidate.c_votes }}</td>
                        <td>{{ candidate.c_percentage }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            <p>Keine Kandidaten vorhanden!</p>

        {% endif %}
    </div>


    <div class="table-responsive col-md-6 panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title">Auswertung Zweitstimmen</h3>
        </div>
        {% if parties %}
            <table id="z_stimmen" class="table table-striped">
                <thead>

                <tr>
                    <th>Name</th>
                    <th>Stimmen</th>
                    <th>Stimmanteil</th>
                </tr>
                </thead>
                <tbody>

                {% for party in parties %}
                    <tr>
                        <td>{{ party.p_name }}</td>
                        <td>{{ party.p_votes }}</td>
                        <td>{{ party.p_percentage }}%</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            </div>
        {% else %}
            <p>Keine Parteien vorhanden!</p>

        {% endif %}
    </div>


    <script>
        $(document).ready(function () {
                    $("#z_stimmen").tablesorter();
                    $("#e_stimmen").tablesorter();

                }
        );
    </script>
{% endblock %}