{% extends "base.html" %}


{% block breadcrumbs %} {{ block.super }} » <a href="/wahlanalyse/{{ election }}/wk">Wahlkreise</a> »
    {{ details.wk_id }}{% endblock %}

{% block content %}


    <div id="Kurzübersicht" class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Kurzübersicht</h3>
        </div>

        <div class="panel-body">
            <strong>Name:</strong> {{ details.wk_name }} <br \>
            <strong>Wahlbeteiligung:</strong> {{ details.wahlbeteiligung }}% <br \>
            <strong>Abgeordneter:</strong> {{ details.winner_fn }} {{ details.winner_ln }} <br \>
        </div>


    </div>

    <div class="table-responsive col-md-6 panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title">Auswertung Erststimmen</h3>
        </div>
        {% if details.candidates %}
            <table id="e_stimmen" class="table table-striped">
                <thead>
                <tr>
                    <th style="text-align: left">Name</th>
                    <th style="text-align: left">Partei</th>
                    <th style="text-align: right">Stimmen</th>
                    <th style="text-align: right">Stimmanteil</th>
                    <th style="text-align: right">Vergleich zur Vorwahl</th>
                </tr>
                </thead>
                <tbody>
                {% for candidate in details.candidates %}
                    <tr>
                        <td style="text-align: left">{{ candidate.c_name }}</td>
                        {% if candidate.c_pname == None %}
                            <td style="text-align: left">-</td>
                        {% else %}
                            <td style="text-align: left">{{ candidate.c_pname }}</td>
                        {% endif %}
                        <td style="text-align: right">{{ candidate.c_votes }}</td>
                        <td style="text-align: right">{{ candidate.c_percentage }}%</td>
                        <td style="text-align: right">{% if candidate.c_change != None %}
                            {{ candidate.c_change }}%
                        {% else %}
                            -
                        {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            <p>Keine Kandidaten vorhanden!</p>

        {% endif %}
    </div>


    <div class="table-responsive col-md-6 panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title">Auswertung Zweitstimmen</h3>
        </div>
        {% if details.parties %}
            <table id="z_stimmen" class="table table-striped">
                <thead>

                <tr>
                    <th style="text-align: left">Partei</th>
                    <th style="text-align: right">Stimmen</th>
                    <th style="text-align: right">Stimmanteil</th>
                    <th style="text-align: right">Vergleich zur Vorwahl</th>

                </tr>
                </thead>
                <tbody>

                {% for party in details.parties %}
                    <tr>
                        <td style="text-align: left">{{ party.p_name }}</td>
                        <td style="text-align: right">{{ party.p_votes }}</td>
                        <td style="text-align: right">{{ party.p_percentage }}%</td>
                        <td style="text-align: right">{% if party.p_change != None %}
                            {{ party.p_change }}%
                        {% else %}
                            -
                        {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            </div>
        {% else %}
            <p>Keine Parteien vorhanden!</p>

        {% endif %}
    </div>


    <script>
        $(document).ready(function () {
                    $("#z_stimmen").tablesorter();
                    $("#e_stimmen").tablesorter();

                }
        );
    </script>
{% endblock %}