{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumbs %} {{ block.super }} » Wahlkreiskarte {% endblock %}

{% block content %}

    <!--suppress ALL -->
    <style>

        svg #Kreise path:hover {
            fill-opacity: 1;
        }

        svg #WK-Hamburg path:hover {
            fill-opacity: 1;
        }

        svg #WK-Berlin path:hover {
            fill-opacity: 1;
        }

    </style>

    <img class="svg" src="{% static "wahlanalyse/Bundestag_Wahlkreise_2009.svg" %}"/>

    <script>

        /*
         * Replace all SVG images with inline SVG
         */
        $('img.svg').each(function () {
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            jQuery.get(imgURL, function (data) {
                // Get the SVG tag, ignore the rest
                var $svg = jQuery(data).find('svg');

                // Add replaced image's ID to the new SVG
                if (typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                // Add replaced image's classes to the new SVG
                if (typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass + ' replaced-svg');
                }

                // Remove any invalid XML tags as per http://validator.w3.org
                $svg = $svg.removeAttr('xmlns:a');

                // Replace image with new SVG
                $img.replaceWith($svg);

                var color_mapping = {
                    'CDU': 'black',
                    'SPD': 'red',
                    'FDP': 'yellow',
                    'CSU': 'black',
                    'GRÜNE': 'green',
                    'DIE LINKE': 'purple'
                };

                var wk_winners = {
                {% for wk in results %} {{ wk.wk_id }} : '{{ wk.wk_party }}',
                {% endfor %}
            }
                ;

                var wk_votes = {
                {% for wk in results %} {{ wk.wk_id }} : '{{ wk.wk_party_percentage }}',
                {% endfor %}
            }
                ;


                maximum = 0;
                for (var key in wk_votes) {
                    maximum = Math.max(wk_votes[key], maximum);
                }
                ;

                $("path").click(function () {
                    window.location.href = "/wahlanalyse/{{ election }}/wk/" + $(this).attr('id') + "/";
                });
                $("path").each(function () {

                    id = $(this).attr('id');
                    if (id >= 1 && id <= 299) {
                        winner = wk_winners[id];
                        $(this).attr("fill", color_mapping[winner] || "#ececec");
                        $(this).attr("fill-opacity", wk_votes[id] / maximum);
                    }

                });

            }, 'xml')

        });


    </script>
{% endblock %}