{% extends "base.html" %}



{% block breadcrumbs %} {{ block.super }} » Wahlkreise {% endblock breadcrumbs %}
{% block content %}

    <div class="page-header">
        <h1>Wahlkreise</h1>
    </div>
    {% if wahlkreise %}
        <div class="table-responsive col-md-7">
            <table id="wk" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Name</th>
                    <th>Gewinner Erststimme</th>
                    <th>Gewinner Zweitstimme</th>
                </tr>
                </thead>
                <tbody>
                {% for wk in wahlkreise %}
                    <tr class="clickable-row" data-href="/wahlanalyse/{{ election }}/wk/{{ wk.wk_id }}/">
                        <td>{{ wk.wk_id }}</td>
                        <td>{{ wk.wk_name }}</td>
                        <td>{{ wk.wk_first }}</td>
                        <td>{{ wk.wk_second }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Keine Wahlkreise vorhanden!</p>

    {% endif %}
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>

    <script>
        $('#wk tbody tr').on('mouseover', function (event) {
            $(this).addClass('info').siblings().removeClass('info');
        });
    </script>


    <script>
        $(document).ready(function () {
                    $("#wk").tablesorter();
                }
        );
    </script>

{% endblock content %}






